{% extends 'layout.html' %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <div id="scrollspy" class="col-md-3 col-lg-2 px-0">
      <div class="list-group bg-white sticky-top" style="top: 72px">
        <a class="nav-link list-group-item list-group-item-action" href="#intro">Introduction</a>
        <a class="nav-link list-group-item list-group-item-action" href="#emap2sec">Emap2Sec</a>
        <a class="nav-link list-group-item list-group-item-action" href="#emap2secplus">Emap2Sec+</a>
        <a class="nav-link list-group-item list-group-item-action" href="#mainmast">MAINMAST</a>
        <a class="nav-link list-group-item list-group-item-action" href="#mainmastseg">MAINMASTseg</a>
      </div>
    </div>
    <div class="col-md-9 col-lg-10 bg-light px-0">
      <div class="container pb-5">
        <section id="intro">
          <h1 class="pt-4">Introduction</h1>
          <hr>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore
            magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
            commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
            est laborum.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore
            magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
            commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim
            id
            est laborum.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore
            magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
            commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim
            id
            est laborum.</p>
        </section>
        <section id="emap2sec">
          <h1 class="pt-4">Emap2Sec</h1>
          <hr>
          <a class="btn btn-primary" href="{% url 'new_emap2sec' %}" role="button">
            <i class="fa fa-play" aria-hidden="true"></i>
            Submit a job
          </a>
          <a class="btn btn-link" href="https://github.com/kiharalab/Emap2sec" role="button">
            <i class="fab fa-github" aria-hidden="true"></i>
            GitHub
          </a>
          <a class="btn btn-link" href="https://www.nature.com/articles/s41592-019-0500-1" role="button">
            <i class="fa fa-file" aria-hidden="true"></i>
            Article (Nature Methods)
          </a>
          <hr>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore
            magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
            commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim
            id
            est laborum.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore
            magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
            commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim
            id
            est laborum.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore
            magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
            commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim
            id
            est laborum.</p>
        </section>
        <section id="emap2secplus">
          <h1 class="pt-4">Emap2Sec+</h1>
          <hr>
          <a class="btn btn-primary" href="{% url 'new_emap2sec+' %}" role="button">
            <i class="fa fa-play" aria-hidden="true"></i>
            Submit a job
          </a>
          <a class="btn btn-link" href="https://github.com/kiharalab/Emap2secPlus" role="button">
            <i class="fab fa-github" aria-hidden="true"></i>
            GitHub
          </a>
          <a class="btn btn-link" href="https://www.biorxiv.org/content/10.1101/2020.08.22.262675v1" role="button">
            <i class="fa fa-file" aria-hidden="true"></i>
            Article (bioRxiv)
          </a>
          <hr>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore
            magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
            commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim
            id
            est laborum.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore
            magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
            commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim
            id
            est laborum.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore
            magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
            commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim
            id
            est laborum.</p>
        </section>
        <section id="mainmast">
          <h1 class="pt-4">MAINMAST</h1>
          <hr>
          <a class="btn btn-primary" href="{% url 'new_mainmast' %}" role="button">
            <i class="fa fa-play" aria-hidden="true"></i>
            Submit a job
          </a>
          <a class="btn btn-link" href="https://github.com/kiharalab/MAINMASTplugin" role="button">
            <i class="fab fa-github" aria-hidden="true"></i>
            GitHub
          </a>
          <a class="btn btn-link" href="https://www.nature.com/articles/s41467-018-04053-7" role="button">
            <i class="fa fa-file" aria-hidden="true"></i>
            Article (Nature Communications)
          </a>
          <hr>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore
            magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
            commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim
            id
            est laborum.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore
            magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
            commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim
            id
            est laborum.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore
            magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
            commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim
            id
            est laborum.</p>
        </section>
        <section id="mainmastseg">
          <h1 class="pt-4">MAINMASTseg</h1>
          <hr>
          <a class="btn btn-primary" href="{% url 'new_mainmastseg' %}" role="button">
            <i class="fa fa-play" aria-hidden="true"></i>
            Submit a job
          </a>
          <a class="btn btn-link" href="https://github.com/kiharalab/MAINMASTseg" role="button">
            <i class="fab fa-github" aria-hidden="true"></i>
            GitHub
          </a>
          <a class="btn btn-link" href="https://pubs.acs.org/doi/abs/10.1021/acs.jcim.9b01110" role="button">
            <i class="fa fa-file" aria-hidden="true"></i>
            Article (J. Chem. Inf. Model.)
          </a>
          <hr>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore
            magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
            commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim
            id
            est laborum.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore
            magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
            commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim
            id
            est laborum.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore
            magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
            commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim
            id
            est laborum.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore
            magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
            commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim
            id
            est laborum.</p>
        </section>
      </div>
    </div>
  </div>
</div>
<script>
  // enable tooltips
  $(function () {
    $('[data-toggle="tooltip"]').tooltip();
  });
</script>
{% endblock %}