{% extends 'layout.html' %}

{% block content %}
<div class="bg-light">
    <div class="container py-5">
        <h1 class="display-4">Find a Cryo-EM Job</h1>
        <div class="row">
            <div class="col py-3">
                <a class="btn btn-outline-primary btn-lg btn-block" href="{% url 'find_job' %}?type=Emap2Sec">
                    Emap2Sec
                </a>
            </div>
            <div class="col py-3">
                <a class="btn btn-outline-primary btn-lg btn-block" href="{% url 'find_job' %}?type=Emap2Sec+">
                    Emap2Sec+
                </a>
            </div>
            <div class="col py-3">
                <a class="btn btn-outline-primary btn-lg btn-block" href="{% url 'find_job' %}?type=MAINMAST">
                    MAINMAST
                </a>
            </div>
            <div class="col py-3">
                <a class="btn btn-outline-primary btn-lg btn-block" href="{% url 'find_job' %}?type=MAINMASTseg">
                    MAINMASTseg
                </a>
            </div>
        </div>
        <p>Please select a job type from the options above. Learn more about each job <a
                href="{% url 'about' %}">here</a>.
        </p>
    </div>
</div>
{% endblock %}
