{% extends 'layout.html' %}

{% block content %}
<div class="bg-light">
  <div class="container py-5">
    <h1 class="display-4">Submit a Cryo-EM Job</h1>
    <div class="row">
      <div class="col py-3">
        <a class="btn btn-primary btn-lg btn-block" href="{% url 'new_emap2sec' %}">
          Emap2Sec
        </a>
      </div>
      <div class="col py-3">
        <a class="btn btn-outline-primary btn-lg btn-block" href="{% url 'new_emap2sec+' %}">
          Emap2Sec+
        </a>
      </div>
      <div class="col py-3">
        <a class="btn btn-outline-primary btn-lg btn-block" href="{% url 'new_mainmast' %}">
          MAINMAST
        </a>
      </div>
      <div class="col py-3">
        <a class="btn btn-outline-primary btn-lg btn-block" href="{% url 'new_mainmastseg' %}">
          MAINMASTseg
        </a>
      </div>
    </div>
    <div class="alert alert-info alert-dismissible fade show" role="alert">
      <i class="fas fa-info-circle pr-3"></i>
      Emap2Sec is a tool for detecting secondary structures.
      Click <a href="{% url 'about' %}#emap2sec">here</a> to learn more.
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <ul class="nav nav-tabs nav-fill">
      <li class="nav-item" data-toggle="tooltip" title="Detect secondary structures from a cryo-EM map">
        <a class="nav-link active" href="#">Detect</a>
      </li>
      <li class="nav-item" data-toggle="tooltip" title="Provide a PDB file to evaluate model performance">
        <a class="nav-link" href="#">Evaluate</a>
      </li>
    </ul>
    <div class="container shadow-sm border-left border-right border-bottom bg-white py-4 px-5">
      <form class="needs-validation" action="{% url 'new_emap2sec' %}" method="post" enctype="multipart/form-data"
        novalidate>
        {% csrf_token %}
        <legend>General</legend>
        <hr>
        <label class="required" data-toggle="tooltip"
          title="Supported file formats are Situs and MRC2000 (file may be gzipped)">Cryo-EM File</label>
        <div class="form-group">
          <div class="custom-file">
            <input class="custom-file-input" type="file" id="map_file" name="map_file" accept=".mrc,.map,.situs,.gz"
              required>
            <label class="custom-file-label" for="map_file">Choose file (.mrc, .map, .situs, .gz)</label>
            <div class="invalid-feedback">
              Please select a Cryo-EM file (may be gzipped).
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="required" for="name" data-toggle="tooltip" title="User-defined name">Job Name</label>
          <input class="form-control" type="text" id="name" name="name" required>
          <div class="invalid-feedback">
            Please name the job.
          </div>
        </div>
        <div class="form-group">
          <label for="comment" data-toggle="tooltip" title="Extra details about the job">Comment</label>
          <textarea class="form-control" id="comment" name="comment" rows="3"></textarea>
        </div>
        <legend>Model Parameters</legend>
        <hr>
        <div class="form-group">
          <label class="required" for="contour" data-toggle="tooltip"
            title="The level of isosurface to generate density values for">Contour Level <small>(c)</small></label>
          <input class="form-control" type="number" step="any" id="contour" name="contour" min="0" value="0" required>
        </div>
        <div class="form-group">
          <label class="required" for="sstep" data-toggle="tooltip"
            title="The stride size of the sliding cube used for input data generation">Stride Size
            <small>(sstep)</small></label>
          <input class="form-control" type="number" id="sstep" name="sstep" min="1" value="2" required>
        </div>
        <div class="form-group">
          <label class="required" for="vw" data-toggle="tooltip"
            title="The side length of the sliding cube, calculated as 2&times;vw+1">Sliding Cube Size
            <small>(vw)</small></label>
          <input class="form-control" type="number" id="vw" name="vw" min="1" value="5" required>
        </div>
        <div class="form-group">
          <label class="required" for="norm" data-toggle="tooltip"
            title="Normalize density values of the sliding cube by global/local maximum density value">Density
            Normalization
            <small>(gnorm/lnorm)</small></label>
          <select class="custom-select" id="norm" name="norm">
            <option selected value="0">Global</option>
            <option value="1">Local</option>
          </select>
        </div>
        <hr>
        <button class="btn btn-primary" type="submit">Submit</button>
      </form>
    </div>
  </div>
</div>

<script>
  // enable tooltips
  $(function () {
    $('[data-toggle="tooltip"]').tooltip();
  });
</script>

<script>
  (function () {
    'use strict';
    window.addEventListener('load', function () {
      // Fetch all the forms we want to apply custom Bootstrap validation styles to
      var forms = document.getElementsByClassName('needs-validation');
      // Loop over them and prevent submission
      var validation = Array.prototype.filter.call(forms, function (form) {
        form.addEventListener('submit', function (event) {
          if (form.checkValidity() === false) {
            event.preventDefault();
            event.stopPropagation();
          }
          form.classList.add('was-validated');
        }, false);
      });
    }, false);
  })();
</script>

{% endblock %}
